.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 10px;
}

.button-cont {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  gap: 5px;
}
